# Ambiente e Banco de Dados
ENV="dev"
MONGO_URI="mongodb+srv://<usuario>:<senha>@<seu_cluster>.mongodb.net/?appName=Cluster0"
MONGO_DB="ml_app"
API_URL="http://backend:8000"

# --- Configurações de Modelos e MLOps (Weights & Biases) ---
# Para rodar OFFLINE: deixe as chaves da API vazias e use caminhos locais.
WANDB_API_KEY=""
WANDB_PROJECT=""

# Indique os modelos a serem carregados (separados por vírgula).
# Uso Local (Exemplo): "intent_classifier/models/confusion-v1.keras"
# Uso Nuvem (Exemplo): "seu_usuario/projeto/modelo:versao"
WANDB_MODELS="intent_classifier/models/confusion-v1.keras,intent_classifier/models/clair-v1.keras"